
body {
    background: rgb(91,192,235);
    background: linear-gradient(45deg, rgba(91,192,235,1) 0%, rgba(188,231,253,1) 75%, rgba(91,192,235,1) 100%);
}

/* ===FONT CONTENT=== */

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#navbar {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.btn { 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* ===NAVBAR CONTENT===  */

#navbar {
    background-color: #93748A;
}

.nav-link, #headerText {
    color: #1B1F3B;
}

.nav-link:hover {
    color: #5BC0EB;
}

.nav-link.active {
    background-color: #1B1F3B;
    color: #93748A;
}

/* ===CAROUSEL CONTENT=== */

.carousel-item {
    height: 32rem;
    position: relative;
    background-position: center;
    background-size: cover;
}
.carousel-item::before {
    content: "";
    background-image: 
    linear-gradient(
        to bottom,
        transparent, rgba(0,0,0,0.5)
    );
    display: block;
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
}
.carousel-item .container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 50px;
    color: #F5D491;
    text-shadow: #1B1F3B 1px 2px 2px;
}

/* ===CAROUSEL SLIDE IMAGE SOURCES=== */

#carousel-slide-about {
    background-image: url(images/slide-about.jpg);
}
#carousel-slide-shop {
    background-image: url(images/slide-shop.jpeg);
}

/* ===GENERAL CONTENT=== */

.divider {
    height: 6vh;
    box-shadow: inset 0 0 30px #93748A;
}

/* ===FOOTER CONTENT=== */
#footer-div {
    border: #1B1F3B 3px;
}

/* ===CARD CONTENT=== */
.card {
    box-shadow: #1B1F3B 1px 1px 2px;
    border: #1B1F3B;
}
.card-header {
    background: rgb(147,116,138);
    background: linear-gradient(45deg, rgba(169,178,200,1) 0%, rgba(147,116,138,1) 100%);

}
.card-body {
    background: rgb(91,192,235);
    background: linear-gradient(45deg, rgba(91,192,235,1) 0%, rgba(188,231,253,1) 75%, rgba(91,192,235,1) 100%);
}

/* ===MODAL CONTENT=== */
.modal-content {
    background-color: #BCE7FD;
}
/* ===IMAGE CONTENT=== */
.product-image {
    height: auto;
    width: 100%;
}

.table {
    background-color: #F5D491;
}

.contact .list-group-item {
    background-color: #F5D491;
}

.btn-peach {
    background-color: #F5D491;
}
/* 


https://coolors.co/93748a-1b1f3b-c0dfa1-bce7fd-5bc0eb

#93748A - Mountbatten Pink

#1B1F3B - Space Cadet

#F5D491 - Peach Yellow

#BCE7FD - Uranian Blue

#5BC0EB - Cyan Process 

*/